In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\Jalpa\Desktop\DATA\Advertising.csv")
df = df.drop('Unnamed: 0', axis=1)
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('Sales', axis=1)
X.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [5]:
y = df['Sales']
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: Sales, Length: 200, dtype: float64

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaled_X_train = scaler.fit_transform(X_train)

In [11]:
X_train = scaler.transform(X_train)

In [13]:
X_test = scaler.transform(X_test)

In [14]:
from sklearn.linear_model import Ridge

In [15]:
model = Ridge(alpha=100)

In [16]:
model.fit(X_train, y_train)

Ridge(alpha=100)

In [17]:
y_pred = model.predict(X_test)

In [18]:
y_pred = model.predict(X_test)

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
MSE = mean_squared_error(y_pred, y_test)
MSE

4.178797295419647

In [21]:
model2 = Ridge(alpha=1)

In [22]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [23]:
ypred2 = model2.predict(X_test)

In [24]:
MSE = mean_squared_error(ypred2, y_test) #without any validation data
MSE

1.7929276024696268

In [25]:
RMSE = np.sqrt(MSE)
RMSE

1.3390024654456865

In [26]:
X_train, X_other, y_train, y_other = train_test_split(X,y, test_size=0.3, random_state=101)

In [27]:
# test size = 0.3(50% of the 30% data)
X_eval, X_test, y_eval, y_test = train_test_split(X_other,y_other, test_size=0.5, random_state=101)

In [28]:
len(df)

200

In [29]:
len(X_train)

140

In [30]:
len(X_other)

60

In [31]:
len(X_eval)

30

In [32]:
len(X_test)

30

In [33]:
X_train = scaler.transform(X_train)

In [34]:
X_test = scaler.transform(X_test)

In [35]:
X_eval = scaler.transform(X_eval) #validation data

In [36]:
model3 = Ridge(alpha =100)

In [37]:
model3.fit(X_train, y_train)

Ridge(alpha=100)

In [38]:
y_eval_pred = model3.predict(X_eval)

In [39]:
MSE = mean_squared_error(y_eval_pred, y_eval)
MSE

7.479830541257386

In [40]:
model4 = Ridge(alpha =1)

In [ ]:
model4.fit(X_train, y_train)

In [41]:
model4.fit(X_train, y_train)

Ridge(alpha=1)

In [42]:
new_pred_eval = model4.predict(X_eval)

In [43]:
MSE = mean_squared_error(new_pred_eval, y_eval)
MSE

2.3850306107037538

In [44]:
y_final_test_pred = model4.predict(X_test) #final evaluation on the test set

In [45]:
y_final_test_pred = model4.predict(X_test) #final evaluation on the test set

In [46]:
MSE = mean_squared_error(y_test, y_final_test_pred) # for training-testing-validation case
MSE

2.254506513338335

KFold CrossValidation

In [48]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
from sklearn.model_selection import cross_val_score

In [50]:
model = Ridge(alpha=100)

In [51]:
scores = cross_val_score(model, X_train, y_train,scoring='neg_mean_squared_error', cv=5)

In [52]:
abs(scores.mean())

8.215396464543607

In [53]:
model2 = Ridge(alpha=1)

In [54]:
scores3 = cross_val_score(model2, X_train, y_train,scoring='neg_mean_squared_error', cv=5)
scores3

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [55]:
abs(scores3.mean())

3.344839296530695

In [56]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [57]:
y_final_test_pred = model2.predict(X_test) #prediction on the final test set(final evaluation)

In [58]:
MSE = mean_squared_error(y_test, y_final_test_pred) # for training-testing-validation case
MSE

2.3190215794287514

In [60]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [61]:
from sklearn.model_selection import cross_validate

In [62]:
model = Ridge(alpha=100)

In [63]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=10)

In [64]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.000000,0.007997,-6.060671,-1.810212
1,0.000000,0.000000,-10.627031,-2.541958
2,0.000000,0.000000,-3.993426,-1.469594
3,0.000000,0.007996,-5.009494,-1.862769
4,0.000000,0.000000,-9.141800,-2.520697
5,0.000000,0.000000,-13.086256,-2.459995
6,0.008001,0.000000,-3.839405,-1.451971
7,0.000000,0.000000,-9.058786,-2.377395
8,0.000000,0.008001,-9.055457,-2.443344
9,0.000000,0.000000,-5.778882,-1.899797

In [65]:
scores.mean()

fit_time                        0.000800
score_time                      0.002399
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [66]:
model = Ridge(alpha=1)

In [67]:
scores = cross_validate(model, X_train, y_train, scoring= ['neg_mean_squared_error', 'neg_mean_absolute_error'], cv=5)

In [68]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.007999,0.000000,-3.155132,-1.547117
1,0.000000,0.008005,-1.580870,-1.026044
2,0.000000,0.000000,-5.404556,-1.400793
3,0.007993,0.000000,-2.216545,-1.154251
4,0.000000,0.000000,-4.367094,-1.470222

In [69]:
scores.mean()

fit_time                        0.003199
score_time                      0.001601
test_neg_mean_squared_error    -3.344839
test_neg_mean_absolute_error   -1.319685
dtype: float64

In [70]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [71]:
y_final_pred = model.predict(X_test)

In [72]:
mean_squared_error(y_test, y_final_pred)

2.3190215794287514

GridSearchCV

In [74]:
## CREATE X and y
X = df.drop('Sales',axis=1)
y = df['Sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [75]:
from sklearn.linear_model import ElasticNet

In [76]:
base_elastic_model = ElasticNet()

In [77]:
param_grid = {'alpha': [0.1,1,5,10,100], 'l1_ratio':[0.1, 0.5, 0.7, 0.9, 1]}

In [78]:
from sklearn.model_selection import GridSearchCV

In [79]:
grid_model = GridSearchCV(estimator = base_elastic_model, param_grid = param_grid, scoring='neg_mean_squared_error', cv=5, verbose=3)

In [80]:
grid_model.fit(X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-3.453 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-1.405 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-5.789 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-2.187 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.1;, score=-4.646 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-3.325 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-1.428 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-5.596 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-2.163 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.5;, score=-4.452 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-3.270 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-1.442 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-5.502 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-2.164 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.7;, score=-4.357 total time=   0.0s
[CV 1/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-3.221 total time=   0.0s
[CV 2/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-1.465 total time=   0.0s
[CV 3/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-5.416 total time=   0.0s
[CV 4/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-2.173 total time=   0.0s
[CV 5/5] END ..........alpha=0.1, l1_ratio=0.9;, score=-4.264 total time=   0.0s
[CV 1/5] END ............alpha=0.1, l1_ratio=1;, score=-3.207 total time=   0.0s
[CV 2/5] END ............alpha=0.1, l1_ratio=1;, score=-1.480 total time=   0.0s
[CV 3/5] END ............alpha=0.1, l1_ratio=1;, score=-5.376 total time=   0.0s
[CV 4/5] END ............alpha=0.1, l1_ratio=1;, score=-2.182 total time=   0.0s
[CV 5/5] END ............alpha=0.1, l1_ratio=1;, score=-4.218 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.1;, score=-9.827 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.1;, score=-5.262 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.1;, score=-11.875 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.1;, score=-7.449 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.1;, score=-8.542 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.5;, score=-8.707 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.5;, score=-4.214 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.5;, score=-10.879 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.5;, score=-6.205 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.5;, score=-7.173 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.7;, score=-7.921 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.7;, score=-3.550 total time=   0.0s
[CV 3/5] END ...........alpha=1, l1_ratio=0.7;, score=-10.025 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.7;, score=-5.380 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.7;, score=-6.325 total time=   0.0s
[CV 1/5] END ............alpha=1, l1_ratio=0.9;, score=-6.984 total time=   0.0s
[CV 2/5] END ............alpha=1, l1_ratio=0.9;, score=-2.790 total time=   0.0s
[CV 3/5] END ............alpha=1, l1_ratio=0.9;, score=-8.997 total time=   0.0s
[CV 4/5] END ............alpha=1, l1_ratio=0.9;, score=-4.415 total time=   0.0s
[CV 5/5] END ............alpha=1, l1_ratio=0.9;, score=-5.546 total time=   0.0s
[CV 1/5] END ..............alpha=1, l1_ratio=1;, score=-6.469 total time=   0.0s
[CV 2/5] END ..............alpha=1, l1_ratio=1;, score=-2.391 total time=   0.0s
[CV 3/5] END ..............alpha=1, l1_ratio=1;, score=-8.410 total time=   0.0s
[CV 4/5] END ..............alpha=1, l1_ratio=1;, score=-3.894 total time=   0.0s
[CV 5/5] END ..............alpha=1, l1_ratio=1;, score=-5.106 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.1;, score=-22.979 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.1;, score=-15.547 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.1;, score=-23.668 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.1;, score=-19.921 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.1;, score=-16.263 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.5;, score=-27.793 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.5;, score=-18.602 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.5;, score=-27.108 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.5;, score=-23.945 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.5;, score=-18.065 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.7;, score=-29.656 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.7;, score=-21.085 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.7;, score=-29.629 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.7;, score=-26.725 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.7;, score=-20.224 total time=   0.0s
[CV 1/5] END ...........alpha=5, l1_ratio=0.9;, score=-31.130 total time=   0.0s
[CV 2/5] END ...........alpha=5, l1_ratio=0.9;, score=-22.549 total time=   0.0s
[CV 3/5] END ...........alpha=5, l1_ratio=0.9;, score=-31.155 total time=   0.0s
[CV 4/5] END ...........alpha=5, l1_ratio=0.9;, score=-27.963 total time=   0.0s
[CV 5/5] END ...........alpha=5, l1_ratio=0.9;, score=-21.698 total time=   0.0s
[CV 1/5] END .............alpha=5, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END .............alpha=5, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END .............alpha=5, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END .............alpha=5, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END .............alpha=5, l1_ratio=1;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.1;, score=-27.385 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.1;, score=-19.160 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.1;, score=-27.635 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.1;, score=-24.154 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.1;, score=-18.968 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.5;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.5;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.5;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.5;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.7;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.7;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.7;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.7;, score=-21.698 total time=   0.0s
[CV 1/5] END ..........alpha=10, l1_ratio=0.9;, score=-31.130 total time=   0.0s
[CV 2/5] END ..........alpha=10, l1_ratio=0.9;, score=-22.549 total time=   0.0s
[CV 3/5] END ..........alpha=10, l1_ratio=0.9;, score=-31.155 total time=   0.0s
[CV 4/5] END ..........alpha=10, l1_ratio=0.9;, score=-27.963 total time=   0.0s
[CV 5/5] END ..........alpha=10, l1_ratio=0.9;, score=-21.698 total time=   0.0s
[CV 1/5] END ............alpha=10, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END ............alpha=10, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END ............alpha=10, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END ............alpha=10, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END ............alpha=10, l1_ratio=1;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.1;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.1;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.1;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.1;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.1;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.5;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.5;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.5;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.5;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.5;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.7;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.7;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.7;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.7;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.7;, score=-21.698 total time=   0.0s
[CV 1/5] END .........alpha=100, l1_ratio=0.9;, score=-31.130 total time=   0.0s
[CV 2/5] END .........alpha=100, l1_ratio=0.9;, score=-22.549 total time=   0.0s
[CV 3/5] END .........alpha=100, l1_ratio=0.9;, score=-31.155 total time=   0.0s
[CV 4/5] END .........alpha=100, l1_ratio=0.9;, score=-27.963 total time=   0.0s
[CV 5/5] END .........alpha=100, l1_ratio=0.9;, score=-21.698 total time=   0.0s
[CV 1/5] END ...........alpha=100, l1_ratio=1;, score=-31.130 total time=   0.0s
[CV 2/5] END ...........alpha=100, l1_ratio=1;, score=-22.549 total time=   0.0s
[CV 3/5] END ...........alpha=100, l1_ratio=1;, score=-31.155 total time=   0.0s
[CV 4/5] END ...........alpha=100, l1_ratio=1;, score=-27.963 total time=   0.0s
[CV 5/5] END ...........alpha=100, l1_ratio=1;, score=-21.698 total time=   0.0s

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error', verbose=3)

In [81]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [82]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [83]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002142,0.004283,0.0016,0.003200,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,5
1,0.003200,0.003919,0.0000,0.000000,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,4
2,0.000000,0.000000,0.0000,0.000000,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,3
3,0.000000,0.000000,0.0048,0.003919,0.1,0.9,"{'alpha': 0.1, 'l1_ratio': 0.9}",-3.221397,-1.465339,-5.416447,-2.173493,-4.263887,-3.308112,1.417693,2
4,0.001600,0.003199,0.0016,0.003200,0.1,1,"{'alpha': 0.1, 'l1_ratio': 1}",-3.206943,-1.480065,-5.376257,-2.182076,-4.218460,-3.292760,1.394613,1

In [84]:
y_pred = grid_model.predict(X_test)

In [85]:
mean_squared_error(y_test, y_pred)

2.387342642087474