In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
df = pd.read_csv(r'C:\Users\Jalpa\Desktop\Modular-1\ML_LinearRegression\DATA\Ames_Hoising_Data_No missing value.csv')
df

NameError: name 'pd' is not defined

In [4]:
df.isnull().sum

<bound method DataFrame.sum of       Unnamed: 0  MS SubClass  MS Zoning  Lot Frontage  Lot Area  Street  \
0          False        False      False         False     False   False
1          False        False      False         False     False   False
2          False        False      False         False     False   False
3          False        False      False         False     False   False
4          False        False      False         False     False   False
...          ...          ...        ...           ...       ...     ...
2918       False        False      False         False     False   False
2919       False        False      False         False     False   False
2920       False        False      False         False     False   False
2921       False        False      False         False     False   False
2922       False        False      False         False     False   False

      Lot Shape  Land Contour  Utilities  Lot Config  ...  Enclosed Porch  \
0         False         False      False       False  ...           False
1         False         False      False       False  ...           False
2         False         False      False       False  ...           False
3         False         False      False       False  ...           False
4         False         False      False       False  ...           False
...         ...           ...        ...         ...  ...             ...
2918      False         False      False       False  ...           False
2919      False         False      False       False  ...           False
2920      False         False      False       False  ...           False
2921      False         False      False       False  ...           False
2922      False         False      False       False  ...           False

      3Ssn Porch  Screen Porch  Pool Area  Misc Val  Mo Sold  Yr Sold  \
0          False         False      False     False    False    False
1          False         False      False     False    False    False
2          False         False      False     False    False    False
3          False         False      False     False    False    False
4          False         False      False     False    False    False
...          ...           ...        ...       ...      ...      ...
2918       False         False      False     False    False    False
2919       False         False      False     False    False    False
2920       False         False      False     False    False    False
2921       False         False      False     False    False    False
2922       False         False      False     False    False    False

      Sale Type  Sale Condition  SalePrice
0         False           False      False
1         False           False      False
2         False           False      False
3         False           False      False
4         False           False      False
...         ...             ...        ...
2918      False           False      False
2919      False           False      False
2920      False           False      False
2921      False           False      False
2922      False           False      False

[2923 rows x 77 columns]>

In [5]:
df.dtypes

Unnamed: 0          int64
MS SubClass         int64
MS Zoning          object
Lot Frontage      float64
Lot Area            int64
                   ...
Mo Sold             int64
Yr Sold             int64
Sale Type          object
Sale Condition     object
SalePrice           int64
Length: 77, dtype: object

In [6]:
df['MS SubClass'].dtype

dtype('int64')

In [7]:
df['MS SubClass'] = df['MS SubClass'].apply(str) # Type casting for convert integer to string

In [8]:
df['MS SubClass'].dtype

dtype('O')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2923 entries, 0 to 2922
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2923 non-null   int64
 1   MS SubClass      2923 non-null   object
 2   MS Zoning        2923 non-null   object
 3   Lot Frontage     2923 non-null   float64
 4   Lot Area         2923 non-null   int64
 5   Street           2923 non-null   object
 6   Lot Shape        2923 non-null   object
 7   Land Contour     2923 non-null   object
 8   Utilities        2923 non-null   object
 9   Lot Config       2923 non-null   object
 10  Land Slope       2923 non-null   object
 11  Neighborhood     2923 non-null   object
 12  Condition 1      2923 non-null   object
 13  Condition 2      2923 non-null   object
 14  Bldg Type        2923 non-null   object
 15  House Style      2923 non-null   object
 16  Overall Qual     2923 non-null   int64
 17  Overall Cond     2923 non-null   int64
 18  Year Built       2923 non-null   int64
 19  Year Remod/Add   2923 non-null   int64
 20  Roof Style       2923 non-null   object
 21  Roof Matl        2923 non-null   object
 22  Exterior 1st     2923 non-null   object
 23  Exterior 2nd     2923 non-null   object
 24  Mas Vnr Type     2923 non-null   object
 25  Mas Vnr Area     2923 non-null   float64
 26  Exter Qual       2923 non-null   object
 27  Exter Cond       2923 non-null   object
 28  Foundation       2923 non-null   object
 29  Bsmt Qual        2923 non-null   object
 30  Bsmt Cond        2923 non-null   object
 31  Bsmt Exposure    2923 non-null   object
 32  BsmtFin Type 1   2923 non-null   object
 33  BsmtFin SF 1     2923 non-null   float64
 34  BsmtFin Type 2   2923 non-null   object
 35  BsmtFin SF 2     2923 non-null   float64
 36  Bsmt Unf SF      2923 non-null   float64
 37  Total Bsmt SF    2923 non-null   float64
 38  Heating          2923 non-null   object
 39  Heating QC       2923 non-null   object
 40  Central Air      2923 non-null   object
 41  Electrical       2923 non-null   object
 42  1st Flr SF       2923 non-null   int64
 43  2nd Flr SF       2923 non-null   int64
 44  Low Qual Fin SF  2923 non-null   int64
 45  Gr Liv Area      2923 non-null   int64
 46  Bsmt Full Bath   2923 non-null   float64
 47  Bsmt Half Bath   2923 non-null   float64
 48  Full Bath        2923 non-null   int64
 49  Half Bath        2923 non-null   int64
 50  Bedroom AbvGr    2923 non-null   int64
 51  Kitchen AbvGr    2923 non-null   int64
 52  Kitchen Qual     2923 non-null   object
 53  TotRms AbvGrd    2923 non-null   int64
 54  Functional       2923 non-null   object
 55  Fireplaces       2923 non-null   int64
 56  Fireplace Qu     2923 non-null   object
 57  Garage Type      2923 non-null   object
 58  Garage Yr Blt    2923 non-null   float64
 59  Garage Finish    2923 non-null   object
 60  Garage Cars      2923 non-null   float64
 61  Garage Area      2923 non-null   float64
 62  Garage Qual      2923 non-null   object
 63  Garage Cond      2923 non-null   object
 64  Paved Drive      2923 non-null   object
 65  Wood Deck SF     2923 non-null   int64
 66  Open Porch SF    2923 non-null   int64
 67  Enclosed Porch   2923 non-null   int64
 68  3Ssn Porch       2923 non-null   int64
 69  Screen Porch     2923 non-null   int64
 70  Pool Area        2923 non-null   int64
 71  Misc Val         2923 non-null   int64
 72  Mo Sold          2923 non-null   int64
 73  Yr Sold          2923 non-null   int64
 74  Sale Type        2923 non-null   object
 75  Sale Condition   2923 non-null   object
 76  SalePrice        2923 non-null   int64
dtypes: float64(11), int64(26), object(40)
memory usage: 1.7+ MB

In [11]:
#Make dumpy pandas series
# Apply one hot encoding for the categorical fearures 
direction = pd.Series(['Up', 'Up', 'Down'])
direction

0      Up
1      Up
2    Down
dtype: object

In [12]:
pd.get_dummies(direction, drop_first=True)

   Up
0   1
1   1
2   0

In [13]:
# include only object type datatype only
my_object_df = df.select_dtypes(include='object') #return all string/ categorical columns
my_object_df

,MS SubClass,MS Zoning,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Sale Type,Sale Condition
0,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,TA,Typ,Gd,Attchd,Fin,TA,TA,P,WD,Normal
1,20,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Gd,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
3,20,RL,Pave,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Ex,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
4,60,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2918,80,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,TA,Typ,None,Detchd,Unf,TA,TA,Y,WD,Normal
2919,20,RL,Pave,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2920,85,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,TA,Typ,None,None,None,None,None,Y,WD,Normal
2921,20,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
2922,60,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal

In [14]:
# Consider only neumerical values
my_numeric_df = df.select_dtypes(exclude='object') #return all numeric columns
my_numeric_df

,Unnamed: 0,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,...,210,62,0,0,0,0,0,5,2010,215000
1,1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,...,140,0,0,0,120,0,0,6,2010,105000
2,2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,...,0,0,0,0,0,0,0,4,2010,244000
4,4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,...,212,34,0,0,0,0,0,3,2010,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2918,2925,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,...,120,0,0,0,0,0,0,3,2006,142500
2919,2926,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,...,164,0,0,0,0,0,0,6,2006,131000
2920,2927,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,...,80,32,0,0,0,0,700,7,2006,132000
2921,2928,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,...,240,38,0,0,0,0,0,4,2006,170000
2922,2929,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,...,190,48,0,0,0,0,0,11,2006,188000

In [15]:
my_numeric_df = my_numeric_df.drop('Unnamed: 0', axis=1)
my_numeric_df.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,210,62,0,0,0,0,0,5,2010,215000
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,140,0,0,0,120,0,0,6,2010,105000
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,0,0,0,4,2010,244000
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,212,34,0,0,0,0,0,3,2010,189900

In [16]:
df_object_dummies = pd.get_dummies(my_object_df, drop_first = True) #encoded dataframe
df_object_dummies

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2918,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2919,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2921,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2922,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [17]:
final_df = pd.concat([my_numeric_df, df_object_dummies], axis=1)
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2918,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2919,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2920,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2921,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2922,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [18]:
X =final_df.drop('SalePrice', axis=1)
X.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [19]:
y =final_df['SalePrice']

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler = StandardScaler()

In [24]:
scaled_X_train = scaler.fit_transform(X_train)

In [25]:
scaled_X_test = scaler.transform(X_test)

In [26]:
from sklearn.linear_model import ElasticNet

In [27]:
base_elastic_model = ElasticNet(max_iter = 20000000)

In [28]:
param_grid = {'alpha': [0.1,1,5,10,100], 'l1_ratio':[0.1, 0.5, 0.7, 0.9, 1]}

In [29]:
from sklearn.model_selection import GridSearchCV

In [30]:
grid_model = GridSearchCV(estimator = base_elastic_model, param_grid = param_grid, scoring='neg_mean_squared_error', cv=5, verbose=2)

In [31]:
grid_model.fit(scaled_X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.5s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.5s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.6s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.6s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.6s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.6s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.3s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.5s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.5s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.7s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.2s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.6min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 3.5min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.7min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.5min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=  47.3s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ................................alpha=1, l1_ratio=1; total time=  11.3s
[CV] END ................................alpha=1, l1_ratio=1; total time=  23.4s
[CV] END ................................alpha=1, l1_ratio=1; total time=  15.7s
[CV] END ................................alpha=1, l1_ratio=1; total time=  11.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   8.9s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   4.1s
[CV] END ................................alpha=5, l1_ratio=1; total time=   3.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   4.7s
[CV] END ................................alpha=5, l1_ratio=1; total time=   4.2s
[CV] END ................................alpha=5, l1_ratio=1; total time=   4.4s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.3s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.6s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.8s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.4s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.8s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.2s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.2s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.2s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.3s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.3s

GridSearchCV(cv=5, estimator=ElasticNet(max_iter=20000000),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error', verbose=2)

In [32]:
grid_model.best_params_

{'alpha': 100, 'l1_ratio': 1}